body{
    font-family:sans-serif;
    font-family: "poppins";

}
a{
    text-decoration: none;
    color: black;
    
}html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
.pano_div{
    width: 500px;
    margin: auto;
    margin-top: 2rem;
}